.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 0 1rem;
  background-color: rgba(132, 161, 225, 0.212);
}