
.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.input-button {
  display: flex;
  width: 90%;
  justify-content: center;
}

.input-container input {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 25px;
  background-color: rgba(235, 235, 235, 0.9);
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  border: none;
}

.input-container input:focus {
  background-color: rgba(98, 176, 245, 0.678);
}

.input-container button {
  width: 40px;
  height: 50px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: rgba(235, 235, 235, 0.9);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.input-container ul {
  position: absolute;
  width: 90%;
  top: 183px;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 0.9);
  cursor: pointer;
}

.input-container ul li {
  padding: 2px 5px;
}

.history-container {
  display: flex;
  width: 90%;
  margin-top: 10px;
}

.history-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.history-container ul li {
  font-size: 20px;
  font-weight: 600;
}

.history-container ul li button {
  font-weight: 600;
  font-size: 18px;
  padding: 2px 5px;
  background-color: rgba(118, 165, 240, 0.838);
  border-radius: 5px;
}


.result-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-top: 50px;
  font-size: 25px;
  background-color: rgba(235, 235, 235, 0.884);
  border-radius: 10px;
  padding: 50px;
  text-align: center;
}


.result-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.result-items-container p {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.temp {
  color: rgb(168, 37, 37);
}
.humi {
  color: rgb(123, 167, 225);
}



@media screen and (min-width: 640px) {

  .body-container {
    width: 90%;
    max-width: 650px;
    margin-top: 50px;
  }
  
  .input-container ul {
    width: 81%;
    max-width: 585px;
    top: 233px;
  }
  

  .input-container ul li:hover {
    background-color: rgb(98, 176, 245);
  }

  .input-container button:hover {
    background-color: rgb(14, 102, 179);
  }

  .history-container ul li {
    font-size: 22px;
  }
  
  .history-container ul li button {
    font-size: 20px;
  }

  .result-container {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .result-items-container {
    margin-top: 20px;
    flex-direction: row;
  }

  
}

@media screen and (min-width: 1024px) {
  .body-container {
    max-width: 1024px;
  }

  .input-container ul {
    max-width: 920px;
  }

  .input-container input {
    font-size: 30px;
  }

  .history-container ul li {
    font-size: 24px;
  }
  
  .history-container ul li button {
    font-size: 22px;
  }

  .result-container {
    font-size: 35px;
  }

  .result-items-container p {
    font-size: 30px;
  }

}